<!DOCTYPE html>
<html >
<head>
    <title>Simple</title>
	<meta charset="utf-8" />
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script type="text/javascript" src="simpleApp.js"></script>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="teamspage.css">

</head>
<body>

    <div class="container" ng-app="Simple" ng-controller="MainController as main">
        <div class="col-md-4">
            <div class="team-container" ng-repeat="team in main.cachedTeams" ng-click="main.selectTeam(team)">
                <h2>{{team.name}}</h2>
                <div class="championship-list">
                    <span class="chapionship-year" ng-repeat="year in team.championships">{{year}}</span>
                </div>
                <h3>Drivers:</h3>
                <div ng-repeat="driver in team.drivers">
                    <h4>{{driver.name}}</h4>
                    <div class="championship-list">
                        <span class="chapionship-year" ng-repeat="year in driver.championships">{{year}}</span>
                    </div>
                </div>
            </div>

            <a class="add-button btn btn-success" ng-click="main.addTeam()">
                <span class="fa fa-lg fa-plus"></span>
            </a>
        </div>
        <div class="col-md-6 selected-team">
            <h1 class="name-title">{{main.selectedTeam.name}}</h1>
            <div class="championship-list">
                <span class="chapionship-year" ng-repeat="year in main.selectedTeam.championships">{{year}}</span>
            </div>

            <h3 ng-show="main.selectedTeam.drivers != null">Drivers:</h3>
            <div ng-repeat="driver in main.selectedTeam.drivers">
                <input type="text" ng-model="driver.name"/>
            </div>

            <a class="add-button btn btn-success" ng-click="main.addDriverForSelectedTeam()" ng-show="main.selectedTeam.drivers != null">
                <span class="fa fa-plus"></span>
            </a>

        </div>

    </div>
</body>
</html>
