.team-container {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    cursor: pointer;
}
    .team-container .championship-list {
        overflow-wrap: break-word;
    }

        .team-container .championship-list .chapionship-year {
            margin: 3px;
        }

.add-button {
    margin: 10px;
}

    .selected-team .name-title {
        margin-bottom: 15px;
    }
    
    .selected-team .championship-list {
        overflow-wrap: break-word;
        width: 530px;
    }

        .selected-team .championship-list .chapionship-year {
            margin: 3px;
        }   

    .selected-team .name-input {
        margin: 5px;
    }