.team-container {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
    .team-container .championship-list {
        overflow-wrap: break-word;
    }

        .team-container .championship-list .chapionship-year {
            margin: 3px;
        }